<div class="filters">
	<div class="btn-group row">
		<button class="btn btn--filter active">Все</button>
		<button class="btn btn--filter">Мясные</button>
		<button class="btn btn--filter">Вегетарианская</button>
		<button class="btn btn--filter">Гриль</button>
		<button class="btn btn--filter">Острые</button>
		<button class="btn btn--filter">Закрытые</button>
	</div>

	<div class="sorting">
		<svg class="icon-arrow">
			<use xlink:href="#icon-arrow"></use>
		</svg>
		Сортировка по: <span class="wrapped">популярности</span>

		<ul class="sorting__list">
			<li class="active">популярности</li>
			<li>по цене</li>
			<li>по алфавиту</li>
		</ul>
	</div>
</div>