<div class="pizza-list">
	<h1 class="pizza-list__title">Все пиццы</h1>

	<div class="row jcc">
		<div class="col-3 col-ds-4 col-tb-6 col-mb-12 col-930-6 col-630-12">
			<div class="pizza-list__item">
				<div class="pizza-item__header">
					<img class="img" src="assets/images/pizzas/pizza-1.jpg" alt="Pizza image" width="260" height="260">
				</div>
				<div class="pizza-item__content">
					<h3 class="pizza-item__title">Чизбургер-пицца</h3>

					<div class="list-group">
						<ul class="pizza-texture-list">
							<li class="active">тонкое</li>
							<li>традиционное</li>
						</ul>
						<ul class="pizza-size-list">
							<li class="active">26</li>
							<li>30</li>
							<li>40</li>
						</ul>
					</div>
				</div>

				<div class="pizza-item__footer">
					<span class="pizza-item__price">395</span>
					<button class="btn btn--add" type="button">
						<svg class="icon-plus icon__plus">
							<use xlink:href="#icon-plus"></use>
						</svg>
						Добавить
						<span class="counter">2</span>
					</button>
				</div>
			</div> <!-- /.pizza-list__item -->
		</div>
		<div class="col-3 col-ds-4 col-tb-6 col-mb-12 col-930-6 col-630-12">
			<div class="pizza-list__item">
				<div class="pizza-item__header">
					<img class="img" src="assets/images/pizzas/pizza-1.jpg" alt="Pizza image" width="260" height="260">
				</div>
				<div class="pizza-item__content">
					<h3 class="pizza-item__title">Чизбургер-пицца</h3>

					<div class="list-group">
						<ul class="pizza-texture-list">
							<li class="active">тонкое</li>
							<li>традиционное</li>
						</ul>
						<ul class="pizza-size-list">
							<li class="active">26</li>
							<li>30</li>
							<li>40</li>
						</ul>
					</div>
				</div>

				<div class="pizza-item__footer">
					<span class="pizza-item__price">395</span>
					<button class="btn btn--add" type="button">
						<svg class="icon-plus icon__plus">
							<use xlink:href="#icon-plus"></use>
						</svg>
						Добавить
						<span class="counter">2</span>
					</button>
				</div>
			</div> <!-- /.pizza-list__item -->
		</div>
		<div class="col-3 col-ds-4 col-tb-6 col-mb-12 col-930-6 col-630-12">
			<div class="pizza-list__item">
				<div class="pizza-item__header">
					<img class="img" src="assets/images/pizzas/pizza-1.jpg" alt="Pizza image" width="260" height="260">
				</div>
				<div class="pizza-item__content">
					<h3 class="pizza-item__title">Чизбургер-пицца</h3>

					<div class="list-group">
						<ul class="pizza-texture-list">
							<li class="active">тонкое</li>
							<li>традиционное</li>
						</ul>
						<ul class="pizza-size-list">
							<li class="active">26</li>
							<li>30</li>
							<li>40</li>
						</ul>
					</div>
				</div>

				<div class="pizza-item__footer">
					<span class="pizza-item__price">395</span>
					<button class="btn btn--add" type="button">
						<svg class="icon-plus icon__plus">
							<use xlink:href="#icon-plus"></use>
						</svg>
						Добавить
						<span class="counter">2</span>
					</button>
				</div>
			</div> <!-- /.pizza-list__item -->
		</div>
		<div class="col-3 col-ds-4 col-tb-6 col-mb-12 col-930-6 col-630-12">
			<div class="pizza-list__item">
				<div class="pizza-item__header">
					<img class="img" src="assets/images/pizzas/pizza-1.jpg" alt="Pizza image" width="260" height="260">
				</div>
				<div class="pizza-item__content">
					<h3 class="pizza-item__title">Чизбургер-пицца</h3>

					<div class="list-group">
						<ul class="pizza-texture-list">
							<li class="active">тонкое</li>
							<li>традиционное</li>
						</ul>
						<ul class="pizza-size-list">
							<li class="active">26</li>
							<li>30</li>
							<li>40</li>
						</ul>
					</div>
				</div>

				<div class="pizza-item__footer">
					<span class="pizza-item__price">395</span>
					<button class="btn btn--add" type="button">
						<svg class="icon-plus icon__plus">
							<use xlink:href="#icon-plus"></use>
						</svg>
						Добавить
						<span class="counter">2</span>
					</button>
				</div>
			</div> <!-- /.pizza-list__item -->
		</div>
		<div class="col-3 col-ds-4 col-tb-6 col-mb-12 col-930-6 col-630-12">
			<div class="pizza-list__item">
				<div class="pizza-item__header">
					<img class="img" src="assets/images/pizzas/pizza-1.jpg" alt="Pizza image" width="260" height="260">
				</div>
				<div class="pizza-item__content">
					<h3 class="pizza-item__title">Чизбургер-пицца</h3>

					<div class="list-group">
						<ul class="pizza-texture-list">
							<li class="active">тонкое</li>
							<li>традиционное</li>
						</ul>
						<ul class="pizza-size-list">
							<li class="active">26</li>
							<li>30</li>
							<li>40</li>
						</ul>
					</div>
				</div>

				<div class="pizza-item__footer">
					<span class="pizza-item__price">395</span>
					<button class="btn btn--add" type="button">
						<svg class="icon-plus icon__plus">
							<use xlink:href="#icon-plus"></use>
						</svg>
						Добавить
						<span class="counter">2</span>
					</button>
				</div>
			</div> <!-- /.pizza-list__item -->
		</div>
		<div class="col-3 col-ds-4 col-tb-6 col-mb-12 col-930-6 col-630-12">
			<div class="pizza-list__item">
				<div class="pizza-item__header">
					<img class="img" src="assets/images/pizzas/pizza-1.jpg" alt="Pizza image" width="260" height="260">
				</div>
				<div class="pizza-item__content">
					<h3 class="pizza-item__title">Чизбургер-пицца</h3>

					<div class="list-group">
						<ul class="pizza-texture-list">
							<li class="active">тонкое</li>
							<li>традиционное</li>
						</ul>
						<ul class="pizza-size-list">
							<li class="active">26</li>
							<li>30</li>
							<li>40</li>
						</ul>
					</div>
				</div>

				<div class="pizza-item__footer">
					<span class="pizza-item__price">395</span>
					<button class="btn btn--add" type="button">
						<svg class="icon-plus icon__plus">
							<use xlink:href="#icon-plus"></use>
						</svg>
						Добавить
						<span class="counter">2</span>
					</button>
				</div>
			</div> <!-- /.pizza-list__item -->
		</div>
	</div>
</div>