<header class="header">
	<div class="header__inner">
		<a class="header__logo d-flex aic" href="/">
			<img src="assets/images/logo.jpg" alt="Logo" width="40" height="40">
			<div class="text-group">
				<h1 class="header__title">REACT SNEAKERS</h1>
				<h3 class="header__subtitle">Магазин лучших кроссовок</h3>
			</div>
		</a>
		<nav class="nav d-flex aic">
			<button class="btn nav__item">
				<svg class="cart-icon rotate">
					<use xlink:href="#icon-cart"></use>
				</svg>
				<span class="nav__item-price">1205</span>
			</button>
			<a class="nav__item" href="/bookmarks.html">
				<svg class="favorite-icon rotate">
					<use xlink:href="#icon-favorite"></use>
				</svg>
			</a>
			<a class="nav__item" href="/orders.html">
				<svg class="profile-icon rotate">
					<use xlink:href="#icon-profile"></use>
				</svg>
			</a>
		</nav>
	</div>
</header>