<div class="col-3 col-sd-4 col-tb-6 col-mb-12">
	<div class="sneakers__item">
		<div class="sneakers__item-header">
			<button class="btn btn--item-add">
				<svg class="favorite-icon">
					<use xlink:href="#icon-favorite"></use>
				</svg>
			</button>
			<img class=" img" src="assets/images/sneaker.jpg" alt="Sneakers image">
		</div>

		<div class="sneakers__item-content">
			<span>Мужские Кроссовки Nike Blazer Mid Suede</span>
		</div>

		<div class="sneakers__item-footer d-flex jcsb">
			<div class="text-group">
				<span class="item__footer-title">Цена:</span>
				<span class="item__footer-price">12 999</span>
			</div>

			<button class="btn btn--item-add">
				<svg class="plus-icon">
					<use xlink:href="#icon-plus"></use>
				</svg>
			</button>
		</div>
	</div>
</div>