<div class="sneakers">
	<div class="sneakers__header d-flex jcsb aic">
		<h2 class="wrapper__title sneakers__title">Все кроссовки</h2>
		<form class="form" action="">
			<input id="search-sneakers" type="text" placeholder="Поиск...">
			<svg class="search-icon">
				<use xlink:href="#icon-search"></use>
			</svg>
		</form>
	</div>

	<div class="sneakers__content">
		<div class="row">
			{{> sneaker}}
			{{> sneaker}}
			{{> sneaker}}
			{{> sneaker}}
			{{> sneaker}}
			{{> sneaker}}
		</div>
	</div>
</div>