<header class="header">
	<div class="container">
		<div class="header__inner">
			<a class="header__logo" href="./">
				<svg class="header__icon">
					<use xlink:href="#icon-logo"></use>
				</svg>
				<div class="text-group">
					<h1 class="header__title">React Pizza</h1>
					<h3 class="header__subtitle">самая вкусная пицца во вселенной</h3>
				</div>
			</a>
			<a class="btn btn--header-cart" href="./cart.html">
				<span class="header__cart">
					<span class="header__cart-total">520</span>
					<span class="header__cart-divider"></span>
					<span class="header__cart-count">
						<svg class="icon-cart cart__icon">
							<use xlink:href="#icon-cart"></use>
						</svg>
						3
					</span>
				</span>
			</a>
		</div>
	</div>
</header>
<hr>
