.btn {
	display: inline-block;

	border: none;
	border-radius: 3rem;
	background: none;

	cursor: pointer;

	font-family: inherit;

	transition: all .1s linear;
}

.btn--filter {
	padding: .8125em 2.1em;

	@include adaptiveValue(font-size, 16, 14, 1);
	color: #2C2C2C;
	font-weight: 700;

	background-color: #F9F9F9;

	&:hover {
		background-color: darken(#F9F9F9, 5%);
	}

	&:not(:last-child) {
		margin-right: 8.95px;
	}

	&.active {
		color: $white;

		background-color: #282828;
	}
}

.btn--add {
	padding: 0.5875em;

	border: 1px solid $orange;

	font-size: 1.6rem;
	color: $orange;
	font-weight: 700;

	&:hover {
		background-color: $orange;

		color: $white;

		.icon-plus {
			fill: $white;
		}

		.counter {
			background-color: $white;

			color: $orange;
		}
	}

	.counter {
		padding: 0.284615em 0.5384615385em;

		font-size: 1.3rem;
		color: $white;
		font-weight: 700;

		border-radius: 50%;
		background-color: $orange;
	}
}

.btn--header-cart {
	max-width: fit-content;
	padding: 0.7625em 1.4375em;

	background: $orange;

	@include adaptiveValue(font-size, 16, 14, 1);
	color: $white;
	font-weight: 700;

	&:hover {
		background-color: darken($orange, 10%);
	}
}

.btn--cart {
	width: 32px;
	height: 32px;

	border-radius: 50%;
	border: 1px solid $orange;

	&:hover {
		background-color: $orange;

		.icon-minus, .icon-plus, .icon-x {
			fill: $white;
		}
	}

	&--x {
		border: 1px solid #D0D0D0;

		&:hover {
			border-color: $orange;
		}
	}
}

.btn--back {
	max-width: 211px;
	width: 100%;
	padding: 1.0625em 2.1758em;
	justify-content: space-between;

	border: 1px solid #CACACA;

	font-size: 1.6rem;
	color: #CACACA;
	text-align: center;

	&:hover {
		border-color: $orange;
		background-color: $orange;

		color: $white;

		.icon-back {
			stroke: $white;
		}
	}

	&-dark {
		border: none;
		background-color: #282828;

		color: $white;

		&:hover {
			background-color: darken(#282828, 25%);
		}
	}
}

.btn--pay {
	max-width: 211px;
	width: 100%;
	padding: 1.0625em 2.1758em;

	background-color: $orange;

	font-size: 1.6rem;
	color: $white;
	text-align: center;

	&:hover {
		background-color: #e84401;
	}
}