.filters {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 3.2rem;
	gap: 2rem;

	@include tablet {
		flex-wrap: wrap;
		justify-content: center;

		& > div:first-child {
			flex: 1 0 100%;
		}
	}

	.btn-group {
		flex-wrap: nowrap;
		max-width: fit-content;
		overflow-x: auto;
		background-image: linear-gradient(to right, white, white),
			linear-gradient(to right, white, white),
			linear-gradient(to right, rgba($white, .7), rgba(255, 255, 255, 0)),
			linear-gradient(to left, rgba($white, .7), rgba(255, 255, 255, 0));
		background-position: left center, right center, left center, right center;
		background-repeat: no-repeat;
		background-color: white;
		background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
		background-attachment: local, local, scroll, scroll;

		&::-webkit-scrollbar {
			display: none;
		}
	}
}

.sorting {
	font-size: 1.4rem;
	font-weight: 700;

	position: relative;

	.icon-arrow {
		margin-right: 4px;
	}

	.wrapped {
		margin-left: 5px;

		color: $orange;
		font-weight: 400;

		border-bottom: 1px dotted $orange;
		cursor: pointer;
	}

	&__list {
		max-width: 132px;
		width: 100%;
		margin-top: 1.5rem;
		padding: 13px 0 9px;

		position: absolute;
		right: 0;
		z-index: 3;

		border-radius: 1rem;
		box-shadow: 0px 5px 15px rgba($black, 0.09);
		background-color: $white;

		li {
			padding: 1.2rem 1.2rem 1.4rem;

			font-size: 1.4rem;
			color: $black;
			font-weight: 400;

			cursor: pointer;

			&:hover:not(.active) {
				outline: dotted 2px $orange;
			}

			&.active {
				background-color: rgba(#FE5F1E0D, 0.05);
				color: $orange;
				font-weight: 700;
			}
		}
	}
}