@charset "UTF-8";
/* Colors */
/* Font */
/* Container */
/* Background */
/* Responsive */
/* Colors */
/* Font */
/* Container */
/* Background */
/* Responsive */
.container {
    max-width: 100%;
    width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-xl {
  /* Если меньше контейнера */
    width: 1340px;
  /* Если меньше контейнера */
    margin-top: 50px;
  /* Если меньше контейнера */
    margin-bottom: 50px;
  /* Если меньше контейнера */
    padding: 40px;
    border-radius: 1rem;
    background: #fff;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.03);
}

@media (max-width: 1440px) {
    .container-xl {
        width: calc(320px + 1020 *((100vw - 320px) / 1120));
    }
}

@media (max-width: 1440px) {
    .container-xl {
        margin-top: calc(25px + 25 *((100vw - 320px) / 1120));
    }
}

@media (max-width: 1440px) {
    .container-xl {
        margin-bottom: calc(25px + 25 *((100vw - 320px) / 1120));
    }
}

@media (max-width: 1440px) {
    .container-xl {
        padding: calc(20px + 20 *((100vw - 320px) / 1120));
    }
}

.container-sm {
  /* Если меньше контейнера */
    width: 851px;
}

@media (max-width: 1440px) {
    .container-sm {
        width: calc(320px + 531 *((100vw - 320px) / 1120));
    }
}

.row {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0 -0.5rem;
}

.row.jcsa {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.row.jcsb {
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.row.jcc {
    -ms-flex-pack: center;
    justify-content: center;
}

.row.fdc {
    -ms-flex-direction: column;
    flex-direction: column;
}

.row.aic {
    -ms-flex-align: center;
    align-items: center;
}

.row > [class*=col] {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding: 0 0.5rem;
}

@media (max-width: 576px) {
    .row > [class*=col] {
        padding: 0;
    }
}

.row .item {
    padding: 1rem;
    background-color: rgba(39, 41, 43, 0.03);
    border: 1px solid rgba(39, 41, 43, 0.1);
}

.row .col {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
}

.row .col-auto {
    width: auto;
}

.row .col-1 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 8.3333333333%;
}

.row .col-2 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 16.6666666667%;
}

.row .col-3 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%;
}

.row .col-4 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.3333333333%;
}

.row .col-5 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 41.6666666667%;
}

.row .col-6 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
}

.row .col-7 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 58.3333333333%;
}

.row .col-8 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 66.6666666667%;
}

.row .col-9 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 75%;
}

.row .col-10 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 83.3333333333%;
}

.row .col-11 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 91.6666666667%;
}

.row .col-12 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
}

@media (max-width: 1199.98px) {
    .row .col-ds-1 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 8.3333333333%;
    }

    .row .col-ds-2 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 16.6666666667%;
    }

    .row .col-ds-3 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 25%;
    }

    .row .col-ds-4 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 33.3333333333%;
    }

    .row .col-ds-5 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 41.6666666667%;
    }

    .row .col-ds-6 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 50%;
    }

    .row .col-ds-7 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 58.3333333333%;
    }

    .row .col-ds-8 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 66.6666666667%;
    }

    .row .col-ds-9 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 75%;
    }

    .row .col-ds-10 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 83.3333333333%;
    }

    .row .col-ds-11 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 91.6666666667%;
    }

    .row .col-ds-12 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (max-width: 991.98px) {
    .row .col-sd-1 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 8.3333333333%;
    }

    .row .col-sd-2 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 16.6666666667%;
    }

    .row .col-sd-3 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 25%;
    }

    .row .col-sd-4 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 33.3333333333%;
    }

    .row .col-sd-5 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 41.6666666667%;
    }

    .row .col-sd-6 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 50%;
    }

    .row .col-sd-7 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 58.3333333333%;
    }

    .row .col-sd-8 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 66.6666666667%;
    }

    .row .col-sd-9 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 75%;
    }

    .row .col-sd-10 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 83.3333333333%;
    }

    .row .col-sd-11 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 91.6666666667%;
    }

    .row .col-sd-12 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (max-width: 930px) {
    .row .col-930-1 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 8.3333333333%;
    }

    .row .col-930-2 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 16.6666666667%;
    }

    .row .col-930-3 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 25%;
    }

    .row .col-930-4 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 33.3333333333%;
    }

    .row .col-930-5 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 41.6666666667%;
    }

    .row .col-930-6 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 50%;
    }

    .row .col-930-7 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 58.3333333333%;
    }

    .row .col-930-8 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 66.6666666667%;
    }

    .row .col-930-9 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 75%;
    }

    .row .col-930-10 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 83.3333333333%;
    }

    .row .col-930-11 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 91.6666666667%;
    }

    .row .col-930-12 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (max-width: 767.98px) {
    .row .col-tb-1 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 8.3333333333%;
    }

    .row .col-tb-2 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 16.6666666667%;
    }

    .row .col-tb-3 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 25%;
    }

    .row .col-tb-4 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 33.3333333333%;
    }

    .row .col-tb-5 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 41.6666666667%;
    }

    .row .col-tb-6 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 50%;
    }

    .row .col-tb-7 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 58.3333333333%;
    }

    .row .col-tb-8 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 66.6666666667%;
    }

    .row .col-tb-9 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 75%;
    }

    .row .col-tb-10 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 83.3333333333%;
    }

    .row .col-tb-11 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 91.6666666667%;
    }

    .row .col-tb-12 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (max-width: 630px) {
    .row .col-630-1 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 8.3333333333%;
    }

    .row .col-630-2 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 16.6666666667%;
    }

    .row .col-630-3 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 25%;
    }

    .row .col-630-4 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 33.3333333333%;
    }

    .row .col-630-5 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 41.6666666667%;
    }

    .row .col-630-6 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 50%;
    }

    .row .col-630-7 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 58.3333333333%;
    }

    .row .col-630-8 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 66.6666666667%;
    }

    .row .col-630-9 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 75%;
    }

    .row .col-630-10 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 83.3333333333%;
    }

    .row .col-630-11 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 91.6666666667%;
    }

    .row .col-630-12 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (max-width: 576px) {
    .row .col-mb-1 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 8.3333333333%;
    }

    .row .col-mb-2 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 16.6666666667%;
    }

    .row .col-mb-3 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 25%;
    }

    .row .col-mb-4 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 33.3333333333%;
    }

    .row .col-mb-5 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 41.6666666667%;
    }

    .row .col-mb-6 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 50%;
    }

    .row .col-mb-7 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 58.3333333333%;
    }

    .row .col-mb-8 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 66.6666666667%;
    }

    .row .col-mb-9 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 75%;
    }

    .row .col-mb-10 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 83.3333333333%;
    }

    .row .col-mb-11 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 91.6666666667%;
    }

    .row .col-mb-12 {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%;
    }
}

.grid {
    max-width: 700px;
    margin: 0 auto;
    border: 1px solid #eee;
}