@import "vars";

@function strip-unit($number) {
	@if type-of($number)=='number' and not unitless($number) {
		@return math.div($number, $number * 0 + 1);
	}

	@return $number;
}

@function rem($pxValue) {
	@return strip-unit(math.div($pxValue, $baseFontSize)) * 1rem;
}

@function remToPx($value, $type: 1) {
	@if $type ==1 {
		@return (strip-unit($value) * $baseFontSize)+px
	}

	@else {
		@return strip-unit($value) * $baseFontSize;
	}
}

@mixin adaptiveValue($property, $startSize, $minSize, $rem: 1, $type: 1) {

	@if $rem ==1 {
		$addSize: strip-unit(remToPx($startSize - $minSize, 2));

		@if $type==1 {
			/* Если меньше контейнера */
			#{$property}: remToPx($startSize);

			@media (max-width: #{$maxWidthContainer + px}) {
				#{$property}: calc(#{remToPx($minSize)} + #{$addSize} *((100vw - 320px) / #{$maxWidthContainer - 320}));
			}
		}

		@else if $type==2 {
			/* Если больше контейнера */
			#{$property}: $startSize + px;

			@media (min-width: #{$maxWidthContainer + px}) {
				#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$container - 320}));
			}
		}

		@else {
			/* Всегда */
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$container - 320}));
		}
	}

	@else {
		$addSize: $startSize - $minSize;

		@if $type==1 {
			/* Если меньше контейнера */
			#{$property}: $startSize + px;

			@media (max-width: #{$maxWidthContainer + px}) {
				#{$property}: calc(#{$minSize + px} + #{$addSize} *((100vw - 320px) / #{$maxWidthContainer - 320}));
			}
		}

		@else if $type==2 {
			/* Если больше контейнера */
			#{$property}: $startSize + px;

			@media (min-width: #{$maxWidthContainer + px}) {
				#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$container - 320}));
			}
		}

		@else {
			/* Всегда */
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$container - 320}));
		}
	}
}

@mixin font($fontName, $fileName, $fontWeight: 400, $fontStyle: normal) {
	@font-face {
		font-family: '#{$fontName}';
		font-display: swap;
		font-weight: $fontWeight;
		font-style: $fontStyle;
		src: url('../fonts/#{$fileName}.eot');
		src: url("../fonts/#{$fileName}.eot?#iefix") format('embedded-opentype'),
		url("../fonts/#{$fileName}.woff") format('woff'),
		url("../fonts/#{$fileName}.woff2") format('woff2'),
		url("../fonts/#{$fileName}.ttf") format('truetype'),
		url("../fonts/#{$fileName}.svg##{$fontName}") format('svg');
	}
}

@mixin rowGap($defaultGap, $minGap, $gutter: 1.5rem) {
	@include adaptiveValue(row-gap, $defaultGap, $minGap, 1);

	@supports not (row-gap: rem($defaultGap)) {
		margin-top: rem(-$defaultGap);
		margin-left: -#{$gutter};
		margin-right: -#{$gutter};

		>[class*=col] {
			margin-top: rem($defaultGap);
		}
	}
}

/* Сделать расстояния между колонками! */
/* @mixin columnGap($defaultGap, $minGap, $gutter: 1.5rem) {
	@include adaptiveValue(column-gap, $defaultGap, $minGap, 1);

	@supports not (column-gap: rem($defaultGap)) {}
} */

@mixin calcGridPercent($value, $gridCount) {
	flex: 0 0 auto;
	width: calc(($value * 100% / $gridCount));
}

@mixin createCustomLayout($name: col, $val: $name, $size: null, $gridCount: 12) {
	@for $i from 1 through $gridCount {
		@if ($name==col) {
			.col-#{$i} {
				@include calcGridPercent($i, $gridCount);
			}
		}

		@else {
			@media (max-width: #{$val}px) {
				.col-#{$name}-#{$i} {
					@include calcGridPercent($i, $gridCount);
				}
			}
		}
	}
}

@mixin mobile {
	@media (max-width: #{$mobile}px) {
		@content;
	}
}

@mixin tablet {
	@media (max-width: #{$tablet}px) {
		@content;
	}
}

@mixin smDesktop {
	@media (max-width: #{$desktopSm}px) {
		@content;
	}
}

@mixin desktop {
	@media (max-width: #{$desktop}px) {
		@content;
	}
}

@mixin bgDesktop {
	@media (max-width: #{$desktopLg}px) {
		@content;
	}
}

@mixin fontRegular($fontSize, $fontColor: inherit) {
	font-size: rem($fontSize);
	color: $fontColor;
	font-weight: 400;
	line-height: 140%;
	letter-spacing: .02em;
}

@mixin text-h1 {
	@include adaptiveValue(font-size, 5.5, 3.5);
	font-weight: 500;
	line-height: 110%;
	letter-spacing: .02em;
}

@mixin text-h2 {
	font-size: 4rem;
	font-weight: 500;
	line-height: 110%;
	letter-spacing: .02em;
}

@mixin text-h3 {
	font-size: 2.5rem;
	font-weight: 500;
	line-height: 140%;
	letter-spacing: .02em;
}

@mixin text-h4($color: $black) {
	font-size: 2rem;
	color: $color;
	font-weight: 500;
	line-height: 140%;
	letter-spacing: .02em;
}

@mixin text-lg($color: $black) {
	font-size: 2rem;
	color: $color;
	font-weight: 400;
	line-height: 140%;
	letter-spacing: 0.02em;
}

@mixin text {
	// @include adaptiveValue(font-size, 1.7, 1.5);
	font-size: 1.7rem;
	font-weight: 500;
	line-height: 140%;
	letter-spacing: .02em;

}

@mixin text-sm {
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 140%;
	letter-spacing: .02em;
}

@mixin text-logo {
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1.9rem;
	letter-spacing: .1em;
	text-transform: uppercase;
}

@mixin text-nav {
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 140%;
	letter-spacing: 0.02em;
}

@mixin text-list {
	font-size: 1.3rem;
	font-weight: 400;
	line-height: 140%;
	letter-spacing: .02em;
}

@mixin text-price {
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 140%;
	letter-spacing: 0.02em;
}

@mixin price($type: 1, $mr: 1rem, $color: $color-secondary, $td: 1) {

	.price,
	.old_price {
		@if $type ==1 {
			@include text-price;
		}

		@else {
			@include text-h2;

			@include smDesktop {
				@include adaptiveValue(font-size, 4, 2);
			}
		}

		color: $color;

		&::before {
			content: "\0024";

			color: inherit;
		}
	}

	.old_price {
		color: #9C9C9C;

		&:not(:last-child) {
			margin-right: $mr;
		}

		&:last-child {
			margin-left: $mr;
		}

		@if $td ==1 {
			text-decoration: line-through;
		}
	}
}

@mixin fixedWidthHeight($w, $h: $w, $rem: 1) {
	@if $rem ==1 {
		width: rem($w);
		height: rem($h);
	}

	@else {
		width: $w + px;
		height: $h + px;
	}
}

@mixin animationEase {
	transition: all .5s ease;
}

@mixin centerGrid {
	@include smDesktop {
		justify-content: center;
	}

	@include tablet {
		grid-template-columns: 100%;
		justify-items: center;
	}
}