@use 'sass:math';

@import './helpers';
@import './mixins';
@import './fonts';
@import './vars';
@import './grid';

html {
	font-size: #{$baseFontSize}px;
}

body {
	font-family: $defaultFont;
	font-weight: $defaultFontWeight;
	font-size: $defaultFontSize;
}

.page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.container {
	max-width: 100%;
	width: #{$container}px;
	margin: 0 auto;
	padding: 0 #{math.div($containerPadding, 2)}px;
}


/* Blocks */
@import "./blocks/header";
@import "./blocks/icons";
@import "./blocks/btn";
@import "./blocks/intro";
@import "./blocks/slider";
@import "./blocks/sections";
@import "./blocks/footer";
@import "./blocks/shop";
@import "./blocks/shop_item";
@import "./blocks/breadcrumbs";
@import "./blocks/cards";
@import "./blocks/related_products";
@import "./blocks/about";
@import "./blocks/contacts";
@import "./blocks/cart";
@import "./blocks/checkout";
@import "./blocks/modal";

/* Vendor libs */