.intro {
	height: 826px;
	padding-top: 13rem;
	position: relative;

	&::after {
		content: "";

		width: 705px;
		height: 100%;

		position: absolute;
		top: 0;
		right: -28px;
		z-index: -1;

		transform: translateX(-80px);

		background-color: $color-ecru-white;
	}
}

.intro-title {
	@include text-h1;
	margin-bottom: 4.5rem;
}

.intro-subtitle {
	max-width: 385px;
	width: 100%;
	margin-bottom: 5.25rem;
	margin-right: auto;

	font-size: 2rem;
	color: $black;
	font-weight: 400;
	line-height: 140%;
	letter-spacing: 0.02em;
	text-align: right;
}

.slider {
	max-width: 563px;
	width: 100%;

	.btn-group {
		margin-bottom: 12.6rem;
		justify-content: center;
	}
}

.img {
	margin-left: auto;
}