.main {
	position: relative;
}

.intro {
	height: 826px;
	margin-bottom: 14rem;
	@include adaptiveValue(padding-top, 4, 0);

	&::after {
		content: "";

		width: 757px;
		height: inherit;

		position: absolute;
		top: 0;
		right: -80px;
		z-index: -1;

		transform: translateX(-80px);

		background-color: $color-ecru-white;

		@include smDesktop {
			display: none;
		}
	}

	@include smDesktop {
		display: flex;
		align-items: center;
		height: 100vh;
	}

	@include tablet {
		margin-bottom: 0;
	}

	.slider {
		justify-content: space-between;
		align-items: center;

		@include tablet {
			grid-template-columns: 100%;
		}

		.btn-group {
			display: flex;
			@include adaptiveValue(margin-bottom, 12.6, 2.6);
			max-width: 385px;
			justify-content: flex-end;

			@include smDesktop {
				justify-content: center;
				max-width: 100%;
			}
		}

		.swiper-wrapper {
			@include adaptiveValue(margin-bottom, 5.2, 4.2);
		}

		.swiper-pagination {
			max-width: 385px;
			justify-content: flex-end;

			@include smDesktop {
				justify-content: center;
				max-width: 100%;
			}
		}
	}

	.img {
		margin-left: auto;
	}
}

.intro_slider_text {
	max-width: 567px;
	width: 100%;
}

.intro_slider_image {
	@include smDesktop {
		display: none;
	}
}

.intro-title {
	@include text-h1;
	@include adaptiveValue(margin-bottom, 4.5, 2.5);

	@include smDesktop {
		text-align: center;
	}
}

.intro-subtitle {
	max-width: 385px;
	width: 100%;
	margin-right: auto;

	font-size: 2rem;
	color: $black;
	font-weight: 400;
	line-height: 140%;
	letter-spacing: 0.02em;
	text-align: right;

	@include smDesktop {
		text-align: center;
		margin-right: initial;
	}
}