.section {
	@include adaptiveValue(margin-bottom, 13, 8);
}

.section_title {
	@include adaptiveValue(margin-bottom, 9.2, 4);
	@include text-h2;
	@include adaptiveValue(font-size, 4, 3.5);

	color: $black;

	@include smDesktop {
		text-align: center
	}
}

.section_new_collection {
	.btn-open-shop {
		display: block;
		margin: 0 auto;
	}
}

.section_important_to_us {
	.cards {
		@include centerGrid;
		display: grid;
		grid-template-columns: repeat(auto-fill, 350px);
		gap: 3rem;
	}

	.cards_item {
		display: block;
		max-width: 350px;
		width: 100%;
		height: 100%;

		&:hover {

			.card_header::after,
			.card-arrow-icon {
				opacity: 1;
			}
		}
	}

	.card_icon {
		@include adaptiveValue(margin-bottom, 3.7, 1.5);

	}

	.card_title {
		@include adaptiveValue(margin-bottom, 2.4, 1.5);
		@include text-h3;

		color: $black;
	}

	.card_text {
		@include text;
		color: $black;
	}

	@include tablet {

		.card_icon,
		.card_title,
		.card_text {
			text-align: center
		}
	}
}

.section_dream_team {
	.section_content {
		justify-content: space-between;
		align-items: center;

		@include smDesktop {
			justify-content: center;
		}
	}

	.content_title {
		@include text-h3;
		margin-bottom: 2.8rem;

		color: $black;
	}

	.text-group {
		margin-bottom: 2.8rem;
	}

	.slider {
		max-width: 729px;
		width: 100%;
		margin-right: auto;
		position: relative;
		padding: 0 4.7rem;

		@include smDesktop {
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 2rem;
		}

		@include tablet {
			padding: 0;
		}
	}

	.content_text {
		@include smDesktop {
			text-align: center;
		}
	}

	.swiper_button_prev {
		position: absolute;
		top: 50%;
		left: 0;
		z-index: 2;

		transform: translate(0, -50%)
	}

	.btn:not(:disabled) {
		.slider_arrow_icon:hover {
			stroke: $black;
		}
	}

	.swiper_button_next {

		position: absolute;
		top: 50%;
		right: 0;
		z-index: 2;

		transform: translate(0, -50%);
	}

	.swiper-pagination {
		@include adaptiveValue(bottom, 6.1, 4.1);
		position: absolute;
		left: 50%;
		z-index: 2;

		transform: translateX(-50%);

		.swiper-pagination-bullet {
			background-color: rgba($white, 0.36);

			&-active {
				background-color: $white;
			}
		}
	}

	@include tablet {

		.swiper_button_prev,
		.swiper_button_next {
			display: none
		}
	}

	.content_paragraph {
		@include text;
		color: $black;
	}

	.content_link {
		@include text;
		color: $color-primary;

		&:hover {
			text-decoration: underline;
		}
	}
}