.section {
	@include adaptiveValue(margin-bottom, 130, 80, 1);
}

.section_title {
	@include adaptiveValue(margin-bottom, 92, 40, 1);
	@include text-h2;
	@include adaptiveValue(font-size, 40, 35, 1);

	color: $black;

	@include tablet {
		text-align: center
	}
}

.section_new_collection {
	.cards {
		@include centerGrid;
		display: grid;
		margin-bottom: 6.5rem;
		grid-template-columns: repeat(auto-fill, 350px);
		gap: 3rem;
	}

	.cards_item {
		display: block;
		max-width: 350px;
		width: 100%;
		height: 100%;

		&:hover {

			.card_header::after,
			.card-arrow-icon {
				opacity: 1;
			}
		}
	}

	.card_header {
		margin-bottom: 2.4rem;
		position: relative;

		&::after {
			@include animationEase;
			content: "";
			width: 100%;
			height: 100%;

			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;

			opacity: 0;
			background-color: $color-primary-hover;
		}

		.card-arrow-icon {
			@include animationEase;
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 2;

			opacity: 0;
			transform: translate(-50%, -50%);
		}
	}

	.card_footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.card_title {
		@include text-h4;
		margin-bottom: 7px;

		color: $black;
	}

	.old-price {
		margin-right: 1rem;

		text-decoration: line-through;
	}

	.old-price,
	.new-price {
		font-size: 1.5rem;
		color: $color-secondary;
		font-weight: 500;
		line-height: 140%;
		letter-spacing: .02em;

		&::before {
			content: "\0024";

			color: inherit;
		}
	}

	.btn-open-shop {
		display: block;
		margin: 0 auto;
	}
}

.section_important_to_us {
	.cards {
		@include centerGrid;
		display: grid;
		grid-template-columns: repeat(auto-fill, 350px);
		gap: 3rem;
	}

	.cards_item {
		display: block;
		max-width: 350px;
		width: 100%;
		height: 100%;

		&:hover {

			.card_header::after,
			.card-arrow-icon {
				opacity: 1;
			}
		}
	}

	.card_icon {
		@include adaptiveValue(margin-bottom, 37, 15, 1);

	}

	.card_title {
		@include adaptiveValue(margin-bottom, 24, 15, 1);
		@include text-h3;

		color: $black;
	}

	.card_text {
		@include text;
		color: $black;
	}

	@include tablet {

		.card_icon,
		.card_title,
		.card_text {
			text-align: center
		}
	}
}

.section_dream_team {
	.section_content {
		@include centerGrid;
		display: grid;
		grid-template-columns: 729px 255px;
		grid-template-rows: repeat(auto-fill, max-content);
		@include adaptiveValue(gap, 124, 30, 1);
		align-items: center;
		position: relative;

		grid-auto-rows: max-content;

		@include tablet {
			text-align: center;
		}
	}


	.content_title {
		@include text-h3;
		margin-bottom: 2.8rem;

		color: $black;
	}

	.text-group {
		margin-bottom: 2.8rem;
	}

	.slider {
		position: relative;
		max-width: max-content;
	}

	.swiper_button_prev {
		position: absolute;
		top: 50%;
		left: -50px;
		z-index: 2;

		transform: translate(0, -50%)
	}

	.btn:not(:disabled) {
		.slider_arrow_icon:hover {
			stroke: $black;
		}
	}

	.swiper_button_next {
		position: absolute;
		top: 50%;
		right: -50px;
		z-index: 2;

		transform: translate(0, -50%)
	}

	.swiper-pagination {
		@include adaptiveValue(bottom, 61, 41, 1);
		position: absolute;
		left: 50%;
		z-index: 2;

		transform: translateX(-50%);

		.swiper-pagination-bullet {
			background-color: rgba($white, 0.36);

			&-active {
				background-color: $white;
			}
		}
	}

	@include tablet {

		.swiper_button_prev,
		.swiper_button_next {
			display: none
		}
	}

	.content_paragraph {
		@include text;
		color: $black;
	}

	.content_link {
		@include text;
		color: $color-primary;

		&:hover {
			text-decoration: underline;
		}
	}
}