<div class="col">
	<div class="row jcsb aic">
		<div class="col-5 col-tb-12">
			<picture>
				<source srcset="assets/images/about/1.webp" type="image/webp">
				<img class="img" src="assets/images/about/1.jpg" alt="Girl" width="442" height="547">
			</picture>
		</div>

		<div class="col-6 col-tb-12">
			<div class="text-group">
				<h3 class="text_title">Идея и женщина</h3>
				<p class="text">
					Womazing была основана в 2010-ом и стала одной из самых успешных компаний нашей
					страны.
					Как
					и многие итальянские фирмы,
					Womazing остаётся семейной компанией, хотя ни один из членов семьи не является
					модельером.

					Мы действуем по успешной формуле, прибегая к услугам известных модельеров для
					создания
					своих
					коллекций. Этот метод был
					описан критиком моды Колином Макдауэллом как форма дизайнерского со-творчества,
					характерная
					для ряда итальянских
					prêt-a-porter компаний.
				</p>
			</div>
		</div>
	</div>
</div>

<div class="col">
	<div class="row jcsb aic">
		<div class="col-6 col-tb-12">
			<div class="text-group">
				<h3 class="text_title">Магия в деталях</h3>
				<p class="text">
					Первый магазин Womazing был открыт в маленьком городке на севере страны в 2010-ом году.
					Первая коллекция состояла из
					двух пальто и костюма, которые были копиями парижских моделей.

					Несмотря на то, что по образованию основательница была адвокатом, ее семья всегда была
					тесно связана с шитьём
					(прабабушка основательницы шила одежду для женщин, а мать основала профессиональную
					школу кроя и шитья). Стремление
					производить одежду для масс несло в себе большие перспективы, особенно в то время, когда
					высокая мода по-прежнему
					доминировала, а рынка качественного prêt-a-porter попросту не существовало.
				</p>
			</div>
		</div>

		<div class="col-5 col-tb-12">
			<picture>
				<source srcset="assets/images/about/2.webp" type="image/webp">
				<img class="img" src="assets/images/about/2.jpg" alt="">
			</picture>
		</div>
	</div>
</div>

<div class="col-auto text ac">
	<a class="btn btn-fill" href="/shop.html">Перейти в магазин</a>
</div>