<a class="cards_item" href="/shop_item.html">
	<div class="card_header">
		<picture>
			<source class="img" srcset="assets/images/girls/collection/1.webp" type="image/webp">
			<img class="img" src="assets/images/girls/collection/1.jpg" alt="Girl" width="350" height="478">
		</picture>
		<svg class="card-arrow-icon">
			<use xlink:href="#icon-card-arrow"></use>
		</svg>
	</div>

	<div class="card_footer">
		<h4 class="card_title">Футболка USA</h4>
		<div class="text-group">
			<span class="old_price">229</span>
			<span class="price">129</span>
		</div>
	</div>
</a>