<div class="row content_content">
	<div class="col-5 col-tb-12">

		<div class="row group">
			<div class="thumbnail">
				<button class="btn btn-cart_item-remove">
					<svg class="x_icon">
						<use xlink:href="#icon_x"></use>
					</svg>
				</button>
				<img class="img" src="assets/images/girls/collection/1.jpg" alt="" width="125" height="179">
			</div>

			<span>Футболка USA</span>
		</div>
	</div>

	<div class="col-1 col-tb-auto">
		<span class="cart_item_price">129</span>
	</div>

	<div class="col-2 col-tb-auto">
		<button class="btn btn-cart-count">1</button>
	</div>

	<div class="col-1 col-tb-auto">
		<span class="cart_item_total">129</span>
	</div>
</div>