<section class="section section_dream_team">
	<div class="container">
		<h2 class="section_title">Команда мечты Womazing</h2>
		<div class="row section_content g-0">
			<div class="col-8 col-sd-12">{{> dream_team_slider}}</div>
			<div class="col-3 col-sd-12">
				<div class="content_text">
					<h3 class="content_title">Для каждой</h3>
					<div class="text-group">
						<p class="content_paragraph">Каждая девушка уникальна. Однако, мы схожи в миллионе мелочей.
						</p>
						<p class="content_paragraph">Womazing ищет эти мелочи и создает прекрасные вещи, которые
							выгодно
							подчеркивают
							достоинства каждой
							девушки.</p>
					</div>
					<a class="content_link" href="">Подробнее о бренде</a>
				</div>
			</div>
		</div>
	</div>
</section>