<footer class="footer">
	<div class="container">
		<div class="footer_inner">
			<div class="row line_1 g-0">
				<div class="col-auto">
					<a class="footer_logo" href="/">
						<svg class="logo-icon">
							<use xlink:href="#icon-logo"></use>
						</svg>
						<span>Womazing</span>
					</a>
				</div>

				<div class="col-5 col-tb-12">
					<nav class="nav">
						<a class="nav_link active" href="">Главная</a>
						<a class="nav_link" href="">Магазин</a>
						<a class="nav_link" href="">О бренде</a>
						<a class="nav_link" href="">Контакты</a>
					</nav>
				</div>

				<div class="col-auto">
					<div class="items-group">
						<a href="tel:74958235412" title="позвонить">
							<span>+7 (495) 823-54-12</span>
						</a>

						<a href="mailto:hello@womazing.com" title="отправить сообщение">
							<span>hello@womazing.com</span>
						</a>
					</div>
				</div>
			</div>

			<div class="row line_2 g-0">
				<div class="col-3 col-tb-12">
					<ul class="list_info">
						<li>&copy; Все права защищены</li>
						<li>
							<a href="">
								Политика конфиденциальности
							</a>
						</li>
						<li>
							<a href="">
								Публичная оферта
							</a>
						</li>
					</ul>
				</div>

				<div class="col-4 col-tb-12">
					<ul class="list_clothes">
						<li>
							<a href="">Пальто</a>
						</li>
						<li>
							<a href="">Свитшоты</a>
						</li>
						<li>
							<a href="">Кардиганы</a>
						</li>
						<li>
							<a href="">Толстовки</a>
						</li>
					</ul>
				</div>

				<div class="col-auto col-tb-12">
					<div class="socials_payment">
						<div class="socials_group">
							<a href="">
								<svg class="instagram_icon">
									<use xlink:href="#icon_instagram"></use>
								</svg>
							</a>
							<a href="">
								<svg class="facebook_icon">
									<use xlink:href="#icon_facebook"></use>
								</svg>
							</a>
							<a href="">
								<svg class="twitter_icon">
									<use xlink:href="#icon_twitter"></use>
								</svg>
							</a>
						</div>

						<div class="payment_group">
							<svg class="visa_icon">
								<use xlink:href="#icon_visa"></use>
							</svg>

							<svg class="mastercard_icon">
								<use xlink:href="#icon_mastercard"></use>
							</svg>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>