<header class="header" data-scroll-header>
	<div class="container">
		<div class="header_inner">
			<a class="header_logo" href="/">
				<svg class="logo-icon">
					<use xlink:href="#icon-logo"></use>
				</svg>
				<span>Womazing</span>
			</a>

			<nav class="nav">
				<a class="nav_link active" href="">Главная</a>
				<a class="nav_link" href="/shop.html">Магазин</a>
				<a class="nav_link" href="">О бренде</a>
				<a class="nav_link" href="">Контакты</a>
			</nav>

			<div class="header_items">
				<div class="items-group">
					<button class="btn btn-mobile" type="button">
						<svg class="mobile-icon">
							<use xlink:href="#icon-mobile"></use>
						</svg>
					</button>
					<a class="call" href="tel:74958235412">
						<span>+7 (495) 823-54-12</span>
					</a>
				</div>

				<a class="cart" href="">
					<svg class="cart-icon">
						<use xlink:href="#icon-cart"></use>
					</svg>
				</a>
			</div>
		</div>
	</div>
</header>