<section class="section section_important_to_us">
	<div class="container">
		<h2 class="section_title">Что для нас важно</h2>
		<div class="section_content">
			<div class="cards">
				<div class="cards_item">
					<div class="card_icon">
						<svg class="card-quality-icon">
							<use xlink:href="#icon-card-quality"></use>
						</svg>
					</div>
					<div class="card_title">Качество</div>
					<div class="card_text">Наши профессионалы работают на лучшем оборудовании для пошива одежды
						беспрецедентного качества</div>
				</div>

				<div class="cards_item">
					<div class="card_icon">
						<svg class="card-speed-icon">
							<use xlink:href="#icon-card-speed"></use>
						</svg>
					</div>
					<div class="card_title">Скорость</div>
					<div class="card_text">Благодаря отлаженной системе в Womazing мы можем отшивать до 20-ти единиц
						продукции в наших собственных цехах</div>
				</div>

				<div class="cards_item">
					<div class="card_icon">
						<svg class="card-responsibility-icon">
							<use xlink:href="#icon-card-responsibility"></use>
						</svg>
					</div>
					<div class="card_title">Ответственность</div>
					<div class="card_text">Мы заботимся о людях и планете. Безотходное производство и комфортные условия
						труда - все это Womazing</div>
				</div>
			</div>
		</div>
	</div>
</section>