<div class="slider">
	<div class="swiper intro_slider">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<h3 class="intro-title">Новые поступления
					в этом сезоне</h3>

				<h3 class="intro-subtitle">Утонченные сочетания и бархатные оттенки - вот то, что вы искали в этом
					сезоне.
					Время
					исследовать.</h3>
			</div>
			<div class="swiper-slide">
				<h3 class="intro-title">Что-то новенькое. Мы заждались тебя.</h3>

				<h3 class="intro-subtitle">Надоело искать себя в сером городе? Настало время новых идей, свежих красок и
					вдохновения с Womazing!</h3>
			</div>
			<div class="swiper-slide">
				<h3 class="intro-title">Включай новый сезон с WOMAZING</h3>

				<h3 class="intro-subtitle">Мы обновили ассортимент - легендарные коллекции и новинки от отечественных
					дизайнеров</h3>
			</div>
		</div>
		<div class="btn-group">
			<button class="btn btn-arrow-scroll" type="button">
				<svg class="arrow-scroll-icon">
					<use xlink:href="#icon-arrow-scroll"></use>
				</svg>
			</button>
			<button class="btn btn-open-shop" type="button">
				<span>Открыть магазин</span>
			</button>
		</div>
		<div class="swiper-pagination"></div>
	</div>

</div>