<div class="modal">
	<div class="modal_content">
		<button class="btn btn-close">
			<svg class="x_icon">
				<use xlink:href="#icon_x"></use>
			</svg>
		</button>

		<h3 class="modal_title">Заказать обратный звонок</h3>

		<input class="modal_input" type="text" placeholder="Имя">
		<input class="modal_input" type="email" placeholder="E-mail">
		<input class="modal_input" type="tel" placeholder="Телефон">

		<button class="btn btn-fill btn-cover" type="button">Заказать звонок</button>
	</div>
</div>