<section class="section section_new_collection">
	<div class="container">
		<h2 class="section_title">Новая коллекция</h2>
		<div class="section_content">
			<div class="cards">
				<a class="cards_item" href="">
					<div class="card_header">
						<picture>
							<source class="img" srcset="assets/images/girls/collection/1.webp" type="image/webp">
							<img class="img" src="assets/images/girls/collection/1.jpg" alt="Girl" width="350"
								height="478">
						</picture>
						<svg class="card-arrow-icon">
							<use xlink:href="#icon-card-arrow"></use>
						</svg>
					</div>

					<div class="card_footer">
						<h4 class="card_title">Футболка USA</h4>
						<div class="text-group">
							<span class="old-price">229</span>
							<span class="new-price">129</span>
						</div>
					</div>
				</a>
				<a class="cards_item" href="">
					<div class="card_header">
						<picture>
							<source class="img" srcset="assets/images/girls/collection/2.webp" type="image/webp">
							<img class="img" src="assets/images/girls/collection/2.jpg" alt="Girl" width="350"
								height="478">
						</picture>
						<svg class="card-arrow-icon">
							<use xlink:href="#icon-card-arrow"></use>
						</svg>
					</div>

					<div class="card_footer">
						<h4 class="card_title">Футболка USA</h4>
						<div class="text-group">
							<span class="new-price">129</span>
						</div>
					</div>
				</a>
				<a class="cards_item" href="">
					<div class="card_header">
						<picture>
							<source class="img" srcset="assets/images/girls/collection/3.webp" type="image/webp">
							<img class="img" src="assets/images/girls/collection/3.jpg" alt="Girl" width="350"
								height="478">
						</picture>
						<svg class="card-arrow-icon">
							<use xlink:href="#icon-card-arrow"></use>
						</svg>
					</div>

					<div class="card_footer">
						<h4 class="card_title">Футболка USA</h4>
						<div class="text-group">
							<span class="new-price">129</span>
						</div>
					</div>
				</a>
			</div>

			<button class="btn btn-open-shop btn-ghost">Открыть магазин</button>
		</div>
	</div>
</section>