<div class="shop_catalog">
	<span class="items_count">Показано: <span class="items_showed">9</span> <span class="items_all">12</span></span>

	<div class="cards">
		{{> card_item}}
		{{> card_item}}
		{{> card_item}}
		{{> card_item}}
		{{> card_item}}
		{{> card_item}}
		{{> card_item}}
		{{> card_item}}
		{{> card_item}}
	</div>

	<span class="items_count">Показано: <span class="items_showed">9</span> <span class="items_all">12</span></span>

	<div class="btn-group">
		<button class="btn btn-pagination active">1</button>
		<button class="btn btn-pagination">2</button>
	</div>
</div>