<div class="slider">
	<div class="swiper shop_item_slider">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<picture>
					<source srcset="assets/images/girls/collection/1.webp" type="image/webp">
					<img class="img" src="assets/images/girls/1.jpg" alt="Girl" width="536" height="729">
				</picture>
			</div>

			<div class="swiper-slide">
				<picture>
					<source srcset="assets/images/girls/collection/1.webp" type="image/webp">
					<img class="img" src="assets/images/girls/1.jpg" alt="Girl" width="536" height="729">
				</picture>
			</div>
		</div>
	</div>
</div>