.slider {
	width: 100%;
	@include adaptiveValue(height, 300, 200, 1);
	margin-bottom: 39px;
	padding: 16px 20px;

	background-color: #F4EFE9;
	border-radius: 20px;

	position: relative;

	.slider-btn--prev-overlay, .slider-btn--next-overlay {
		width: 50%;
		height: 100%;

		position: absolute;
		top: 0;

		cursor: pointer;
	}

	.slider-btn--prev-overlay {
		left: 0;
	}

	.slider-btn--next-overlay {
		right: 0;
	}

	.btn--prev, .btn--next {
		position: absolute;
		top: 50%;

		transform: translateY(-50%);
	}

	.slider-btn--prev-overlay {
		&:hover .btn--prev {
			transform: translate(-.5rem, -50%);
		}
	}

	.slider-btn--next-overlay {
		&:hover .btn--next {
			transform: translate(.5rem, -50%);
		}
	}

	.btn--prev {
		left: -1.5rem;
	}

	.btn--next {
		right: -1.5rem;
	}
}